@import 'variables';

nav.nav {
    padding: 0.80rem 0.60rem; //vertical horizontal
    background-color: $main-color;
    margin-bottom: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .link {
        color: $grey;
    }

    .brand {
        color: $white;
        font-weight: 600;
        line-height: 1.75rem;
        font-size: 1.50rem;
    }
}